body {
  background-color: black;
}

:root {
  --mainOpacity: rgba(0, 0, 0, 0.55);
}

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/src/assets/public/space.jpg");
  opacity: var(--mainOpacity);
  height: 30em !important;
}

.dark-overlay {
  background-color: rgba(140, 140, 140, 0.35);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-color {
  background-color: #303030;
}

.col-image-left {
  background-image: url("/src/assets/public/corn.jpg");
  height: 25em !important;
}

.col-image-right {
  background-image: url("/src/assets/public/movies.jpg");
  height: 25em !important;
}

.lost-image {
  background-image: url("/src/assets/public/search.jpg");
  height: 25em !important;
  width: "720";
}

.homepage-carousel-title {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  color: grey;
}

.book-div {
  width: 480px;
  height: 384px;
}

.inactiveLink {
  pointer-events: none;
  cursor: default;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(27%) sepia(90%) saturate(3000%) hue-rotate(0deg);
}
